whatsapp-chat-record/record-outbound-message
{
  "name": "WhatsApp record message out (Cleaned)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "body.data.toNumber",
              "value": "={{ $json.body.data.toNumber }}",
              "type": "number"
            }
          ]
        }
      },
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [352, 208]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Chat record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_GID",
          "mode": "list",
          "cachedResultName": "Message_In_Out",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_GID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone number ": "={{ $json.body.data.toNumber }}",
            "Message Out": "={{ $('Webhook').item.json.body.data.body }}",
            "Time": "={{ $('Webhook').item.json.body.data.date }}"
          },
          "schema": [
            { "id": "Phone number ", "displayName": "Phone number ", "type": "string" },
            { "id": "Message In", "displayName": "Message In", "type": "string" },
            { "id": "Message Out", "displayName": "Message Out", "type": "string" },
            { "id": "Time", "displayName": "Time", "type": "string" }
          ]
        }
      },
      "name": "Google Sheets: add number & text",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [576, 208]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [128, 208]
    },
    {
      "parameters": {
        "tableId": "Chat Record",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "Phone_number", "fieldValue": "={{ $json['Phone number '] }}" },
            { "fieldId": "Message_out", "fieldValue": "={{ $json['Message Out'] }}" },
            { "fieldId": "Time", "fieldValue": "={{ $json.Time }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [800, 208],
      "name": "Create a row"
    }
  ],
  "connections": {
    "Edit Fields": { "main": [[{ "node": "Google Sheets: add number & text", "type": "main", "index": 0 }]] },
    "Google Sheets: add number & text": { "main": [[{ "node": "Create a row", "type": "main", "index": 0 }]] },
    "Webhook": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "active": false,
  "settings": { "executionOrder": "v1" }
}
